.duckImg {
  animation: duckImg-swim infinite 3s linear;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

.link:hover {
  cursor: pointer;
}

.appBar {
  justify-content: center;
}

.appBar h1 {
  flex: none !important;
  font-weight: bolder !important;
}

@keyframes duckImg-swim {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@media screen and (max-width: 800px) {
  .paper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .cardTitle {
    padding: 0 10px 5px !important;
    line-height: 1em !important;
  }

  .cardTitle span {
    line-height: 1em !important;
  }
}

@media screen and (min-width: 800px) {
  .sightings,
  .home,
  .report {
    width: 90%;
    margin: 0 auto;
  }
}
