.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  padding: 0;
}

p {
  margin: 0 0 15px;
}

.link:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 800px) {
  .paper {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .sightings,
  .home,
  .report {
    width: 90%;
    margin: 0 auto;
  }
}
